{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Order Book" %}{% endblock %}

{% block css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.7/datatables.min.css" rel="stylesheet">

{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.7/datatables.min.js"></script>
{% endblock %}

{% block content %}



    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center">
                <label>
                    <input type="checkbox" checked data-toggle="toggle" id="autoupdate-switch">
                    {% trans "Autoupdate" %}
                </label>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <label>
                    {% trans "Updated:" %} <span id="last_updated"></span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="table-responsive">
                    <table id="orderbook_asks" class="table">
                        <thead>
                        <tr>
                            <th>{% trans "Asks" %}</th>
                            <th>{% trans "Quantity" %}</th>
                            <th>{% trans "Sum" %}</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>{% trans "Bids" %}</th>
                            <th>{% trans "Quantity" %}</th>
                            <th>{% trans "Sum" %}</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="table-responsive">
                    <table id="orderbook_bids" class="table">
                        <thead>
                        <tr>
                            <th>{% trans "Bids" %}</th>
                            <th>{% trans "Quantity" %}</th>
                            <th>{% trans "Sum" %}</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>{% trans "Bids" %}</th>
                            <th>{% trans "Quantity" %}</th>
                            <th>{% trans "Sum" %}</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_bottom %}
    <script>
        $(document).ready(function () {
            let update_table = function (id, data) {
                let table = $(id).DataTable();
                table.clear();
                table.rows.add(data);
                table.draw();
            }

            let update_data = function () {
                $.ajax({
                    method: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    url: '{% url "order_book:get_order_book" %}',
                    success: function (data) {
                        update_table('#orderbook_asks', data.asks);
                        update_table('#orderbook_bids', data.bids);
                        $('#last_updated').text(data.last_updated);
                    }
                });
            }

            let DataTableConfig = {
                searching: false,
                pagingType: 'numbers',
                language: {
                    emptyTable: '{% trans "No data available in table" %}',
                    info: '{% trans "Showing _START_ to _END_ of _TOTAL_ entries" %}',
                    infoEmpty: '{% trans "Showing 0 to 0 of 0 entries" %}',
                    lengthMenu: '{% trans "Show _MENU_ entries" %}',
                    paginate: {
                        next: '{% trans "Next" %}',
                        previous: '{% trans "Previous" %}',
                    },
                }
            }
            $('#orderbook_asks').DataTable(DataTableConfig);
            $('#orderbook_bids').DataTable(DataTableConfig);

            update_data();
            let interval = {{ ORDER_BOOK_UPDATE_INTERVAL }} * 100;
            let intervalId = setInterval(update_data, interval);

            $('#autoupdate-switch').change(function () {
                if ($(this).is(':checked')) {
                    intervalId = setInterval(update_data, interval);
                } else {
                    clearInterval(intervalId);
                }
            });

        });
    </script>

{% endblock %}
